 <ui-lib-header [logo]="logo" [navigationList]="list" [appName]="appName"></ui-lib-header>
 <ui-lib-main-container >
<ui-lib-button [disabled]="false" [buttonColor]="'green'"  [title]="title"></ui-lib-button>
<!-- <ui-lib-modal-dialog [modalTitle]="modalTitle" [modalContent]="modalContent" [modalButtonTitle]="modalButtonTitle"></ui-lib-modal-dialog>-->
<ui-lib-input-field></ui-lib-input-field>
</ui-lib-main-container>
 <ui-lib-footer 
 [footerColor]="'red'"
[footerDescription]="description"
 [copyRightsName]="copyRightsName"
  [linkHeaders]="linkHeaders"
   [linkHeaderOptions]="linkHeaderOptions"
    [facebookSocialLink]="facebookSocialLinks"
    [twitterSocialLink]="twitterSocialLinks">
</ui-lib-footer>
